* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; 
    -webkit-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

#page{
    height: 100vh;
}

.flex{
    display: flex;
}

#page > * {
    width: 50%;
}

img {
    width: 100%;
    object-fit: cover;
}

#page > div {
    padding: 4rem 11.2rem ;
}

.title-login {
    max-width: 35rem;
}

.p-login {
 padding-top: 1.6rem;
}

header img {
    width: 10rem;
    height: 5.4rem;
}

main {
    margin-top: 11.3rem;
}


form {
    margin-top: 4rem;
}

form input {
    width: 100%;
    height: 5.3rem;
    margin-top: 0.8rem;

    border: groove 0.1rem #d4d4d4;
    border-radius: 5px;
}

.label-password {
    justify-content: space-between;
}

form .input-wrapper + .input-wrapper {
    margin-top: 1.6rem;
}

.eye {
    width: 2rem;
    height: 2rem;

    position: absolute;
}

form button {
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    background-color: #f82121;
    width: 100%;
    height: 5.6rem;
    border: none;
    margin-block: 3.2rem;
    border-radius: 5px;
}

.btn-Input:hover{
    background-color: #fb5353;
}
